In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
## FAKE DATA ##
longitudes = [20, 25, 30, 35, -30, -32, -33, -150, -160, 60]
latitudes = [-37, -39, -40, -42, 20, 22, 24, 30, 50, -10]
profile_nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
percentage_scores = [0.1, 0.2, 0.3, 0.1, 0.8, 0.9, 1, 0.6, 0.4, 1]

## Profile Table Production

In [27]:
def make_profile_table(profiles, scores):
    d = {'Profile ID': profiles, 'Quality Score': scores}
    profile_table = pd.DataFrame(data = d).set_index('Profile ID')
    return(profile_table)

In [26]:
make_profile_table(profile_nums, percentage_scores)

            Quality Score
Profile ID
1                     0.1
2                     0.2
3                     0.3
4                     0.1
5                     0.8
6                     0.9
7                     1.0
8                     0.6
9                     0.4
10                    1.0

In [ ]:
df = pd.read_csv(
    "data/Corvinas_PBDE99.csv",
    na_values="NaN",
    index_col=False,
)

df.head()

In [ ]:
corr = df.corr()

mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

fig, ax = plt.subplots(figsize=(11, 9))

cmap = seaborn.diverging_palette(220, 10, as_cmap=True)
seaborn.heatmap(
    corr, mask=mask, cmap=cmap, vmax=.3, center=0,
    square=True, linewidths=.5, cbar_kws={"shrink": .5}
);

In [ ]:
ax = seaborn.jointplot("BDE 99 Liver", "BDE 47 Liver", df, kind="reg")